@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
}


:root{
  /*Primary Colors*/
  --light-red: hsl(356, 100%, 66%); /*CTA text*/
  --very-light-red: hsl(355, 100%, 74%); /*CTA hover background*/
  --very-dark-blue: hsl(208, 49%, 24%);
  
  /*Neutral*/
  --grayish-blue: hsl(240, 2%, 79%); /*footer text*/
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /*body copy*/
  --very-dark-black-blue: hsl(207, 13%, 34%); /*footer bg*/
  
  /*Gradient Background gradient intro/CTA mobile nav*/
  --v-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  
  /*bg gradient body*/
  --vd-gray-blue: hsl(237, 17%, 21%);
  --vd-dark-desat-blue: hsl(237, 23%, 32%);
}

.bg-container{
  background-image: url('./images/bg-pattern-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left;
  background-color: var(--v-light-red);
  height: 50vh;
  border-bottom-left-radius: 6rem;
}

.nav-bar {
  padding: 1.5rem 4rem;
  display: flex;
  
}

.nav-list{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

ul.nav-list {
    list-style: none;
}

.nav-list a{
  text-decoration: none;
}

.nav-list a {
  margin-right: 3rem;
  color: white;
}

.log-sign {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.log-sign a{
  text-decoration: none;
}

.log-in{
  color: white;
}

.sign-up{
  margin-left: 0.74rem;
  background-color: white;
  border-radius: 2.5rem;
  padding: 0.7rem 1.5rem 0.8rem 1.5rem;
  color: var(--light-red);
}

.sign-up:hover{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.blogr-container{
  display: flex;
}

.blogr{
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

/*title section*/

.title-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}

.title{
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.title-text{
  color: white;
  font-family: 'Overpass', sans-serif;
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
}

/*buttons*/
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  background-color: white;
  padding: 1.25rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  color: var(--light-red);
  font-weight: 600;
  border: none;
}

.btn-1:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-2:hover {
    background-color: white;
    color: var(--very-light-red);
}


  
.btn-2 {
  margin-left: 2rem;
  background-color: transparent;
  padding: 1.25rem;
  border-radius: 2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
  
  



  
  
  
