@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


:root{
  /*Primary Colors*/
  --light-red: hsl(356, 100%, 65%); /*CTA text*/
  --very-light-red: hsl(355, 100%, 74%); /*CTA hover background*/
  --very-dark-blue: hsl(208, 49%, 24%);
  
  /*Neutral*/
  --grayish-blue: hsl(240, 2%, 79%); /*footer text*/
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /*body copy*/
  --very-dark-black-blue: hsl(207, 13%, 34%); /*footer bg*/
  
  /*Gradient Background gradient intro/CTA mobile nav*/
  --v-light-red: hsl(13, 100%, 72%);
  --cta-light-red: hsl(353, 100%, 62%);
  
  /*bg gradient body*/
  --vd-gray-blue: hsl(237, 17%, 21%);
  --vd-dark-desat-blue: hsl(237, 23%, 32%);
}

.bg-container{
  background-image: url('./images/bg-pattern-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: 2100px;
  background-position: 16% -850px;
  background-color: var(--light-red);
  height: 50vh;
  border-bottom-left-radius: 6rem;
}

.nav-bar {
  padding: 1.5rem 4rem;
  display: flex;
  
}

.nav-list{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

ul.nav-list {
    list-style: none;
}

.nav-list a{
  text-decoration: none;
}

.nav-list a {
  margin-right: 3rem;
  color: white;
}

.log-sign {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.log-sign a{
  text-decoration: none;
}

.log-in{
  color: white;
  margin-right: 1rem;
}

.sign-up{
  margin-left: 0.74rem;
  background-color: white;
  border-radius: 2.5rem;
  padding: 0.7rem 1.5rem 0.8rem 1.5rem;
  color: var(--light-red);
}

.sign-up:hover{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.blogr-container{
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.blogr{
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

/*title section*/

.title-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}

.title{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.title-text{
  color: white;
  font-family: 'Overpass', sans-serif;
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
}

/*buttons*/
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  background-color: white;
  padding: 1.25rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  color: var(--light-red);
  font-weight: 600;
  border: none;
}

.btn-1:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-2:hover {
    background-color: white;
    color: var(--very-light-red);
}


  
.btn-2 {
  margin-left: 2rem;
  background-color: transparent;
  padding: 1.25rem;
  border-radius: 2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

/*Designed for the future*/

.design-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.design{
  font-size: 2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.design-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 6rem;
  padding: 5rem;
  
}

.introduce{
  display: grid;
  grid-column-start: 1;
  grid-row: 1 / 2;
}

.intro-heading{
  padding-bottom: 2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: var(--very-dark-blue);
}
.intro-details{
  line-height: 2rem;
  font-family: 'Overpass', sans-serif;
  color: var(--grayish-blue);
  padding-bottom: 3rem;
}

.editor{
  display: grid;
  grid-column-start: 2;
  grid-row: 1 / 2;
  width: 100%;
}

.editor img{
  width: 560px;
}

/*infrastructure grid*/

/*.infra-container{
  background-color: var(--very-dark-blue);
  background-image: url('./images/bg-pattern-circles.svg');
  background-size: 625px;
  background-repeat: no-repeat;
  background-position: 50% -250px;
  position: relative;
  border-bottom-left-radius: 6rem;
  height: 40vh;
}

.infra-grid{
  display: grid;
  justify-content: center;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  padding: 5rem;
}*/

.phones{
 background-color: var(--very-dark-blue);
 background-image: url(./images/bg-pattern-circles.svg);
 background-size: 625px;
 background-repeat: no-repeat;
 background-position: 5% -250px;
 height: 300px;
 border-bottom-left-radius: 6rem;
 border-top-right-radius: 6rem
}

.absolute{
  position: absolute;
  left: 10%;
  bottom: -840px;
}

.cell-phone{
  width: 400px;
}

.descript-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  place-items: center;
  height: 100%;
}

#description {
  width: 48%;
  padding-right: 1rem;
}

.state-title {
  color: white;
  font-family: 'Overpass', sans-serif; 
}

.state-details {
  padding: 1.5rem 0;
  font-family: 'Overpass', sans-serif;
  color: white;
  line-height: 2rem;
}

/*INFO GRID SECTION*/

.info-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  margin-top: 8rem;
}

.laptop{
  grid-column-start: 1;
  grid-row-start: 1;
}

.laptop-image{
  width: 100%;
  display: grid;
}

.info-details{
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: 'Overpass', sans-serif;
}

.simple-title {
  margin-bottom: 2rem;
  color: var(--very-dark-blue);
}

.simple-details {
  margin-bottom: 3rem;
  padding-right: 2rem;
  color: var(--grayish-blue);
  line-height: 2rem;

}

/*FOOTER*/

.footer-container{
  background-color: var(--very-dark-black-blue);
  width: 100%;
  height: 50vh;
  border-top-right-radius: 6rem;
}

.footer-title-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 2rem;
  height: 25%;
  font-size: 2rem;
}

.footer-title{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
}

.product-company-connect-container{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.footer-titles{
  font-family: 'Ubuntu', sans-serif;
  color: var(--grayish-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-lists{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-list-items{
  font-family: 'Ubuntu', sans-serif;
  color: var(--grayish-blue);
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}
  
  
  
  
  
  



  
  
  
