@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


:root{
  /*Primary Colors*/
  --light-red: hsl(356, 100%, 65%); /*CTA text*/
  --very-light-red: hsl(355, 100%, 74%); /*CTA hover background*/
  --very-dark-blue: hsl(208, 49%, 24%);
  
  /*Neutral*/
  --grayish-blue: hsl(240, 2%, 79%); /*footer text*/
  --very-dark-grayish-blue: hsl(207, 13%, 34%); /*body copy*/
  --very-dark-black-blue: hsl(207, 13%, 34%); /*footer bg*/
  
  /*Gradient Background gradient intro/CTA mobile nav*/
  --v-light-red: hsl(13, 100%, 72%);
  --cta-light-red: hsl(353, 100%, 62%);
  
  /*bg gradient body*/
  --vd-gray-blue: hsl(237, 17%, 21%);
  --vd-dark-desat-blue: hsl(237, 23%, 32%);
}

.bg-container{
  background-image: url('./images/bg-pattern-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: 2100px;
  background-position: 16% -850px;
  background-color: var(--light-red);
  height: 50vh;
  border-bottom-left-radius: 6rem;
}

.nav-bar {
  padding: 2rem;
  display: flex;
  
}

.dropdown{
  display: flex;
  justify-content: center;
  width: 20%;
  align-items: center;
}

.dropdown:hover{
  text-decoration: underline white from-font;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  top: 60px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  top: 80px;
  margin: 10px 0 20px;
  box-shadow: 2px 1px 10px -5px
}

.dropdown-content a{
  text-decoration: none;
  margin-right: 3rem;
  padding: 0.4rem;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

.dropdown-content a:hover{
  font-weight: bold;
}

.btn-drop{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  margin-right: 2rem;
  
}

.log-sign {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}

.log-sign a{
  text-decoration: none;
}

.log-in{
  color: white;
  margin-right: 1rem;
}

.sign-up{
  margin-left: 0.74rem;
  background-color: white;
  border-radius: 2.5rem;
  padding: 0.7rem 1.5rem 0.8rem 1.5rem;
  color: var(--light-red);
}

.sign-up:hover{
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.blogr-container{
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
}

.blogr{
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

/*title section*/

.title-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
}

.title{
  font-family: 'Overpass', sans-serif;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.title-text{
  color: white;
  font-family: 'Overpass', sans-serif;
  padding-top: 1rem;
  padding-bottom: 3rem;
  text-align: center;
}

/*buttons*/
.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-1 {
  background-color: white;
  padding: 1.25rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: 'Overpass', sans-serif;
  color: var(--light-red);
  font-weight: 600;
  border: none;
}

.btn-1:hover {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.btn-2:hover {
    background-color: white;
    color: var(--very-light-red);
}


  
.btn-2 {
  margin-left: 2rem;
  background-color: transparent;
  padding: 1.25rem;
  border-radius: 2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

/*Designed for the future*/

.design-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.design{
  font-size: 2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: var(--very-dark-blue);
}

.design-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 6rem;
  padding: 5rem;
  
}

.introduce{
  display: grid;
  grid-column-start: 1;
  grid-row: 1 / 2;
}

.intro-heading{
  padding-bottom: 2rem;
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  color: var(--very-dark-blue);
}
.intro-details{
  line-height: 2rem;
  font-family: 'Overpass', sans-serif;
  color: var(--grayish-blue);
  padding-bottom: 3rem;
}

.editor{
  display: grid;
  grid-column-start: 2;
  grid-row: 1 / 2;
  width: 100%;
}

.editor-desktop-img{
  width: 560px;
}

.editor-mobile-img{
  display: none;
}

/*infrastructure grid*/

/*.infra-container{
  background-color: var(--very-dark-blue);
  background-image: url('./images/bg-pattern-circles.svg');
  background-size: 625px;
  background-repeat: no-repeat;
  background-position: 50% -250px;
  position: relative;
  border-bottom-left-radius: 6rem;
  height: 40vh;
}

.infra-grid{
  display: grid;
  justify-content: center;
  width: 100%;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  padding: 5rem;
}*/

.phones{
 background-color: var(--very-dark-blue);
 background-image: url(./images/bg-pattern-circles.svg);
 background-size: 625px;
 background-repeat: no-repeat;
 background-position: 5% -250px;
 height: 300px;
 border-bottom-left-radius: 6rem;
 border-top-right-radius: 6rem
}

.absolute{
  position: absolute;
  left: 10%;
  bottom: -860px;
}

.cell-phone{
  width: 400px;
}

.descript-container{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  place-items: center;
  height: 100%;
}

#description {
  width: 48%;
  padding-right: 1rem;
}

.state-title {
  color: white;
  font-family: 'Overpass', sans-serif; 
}

.state-details {
  padding: 1.5rem 0;
  font-family: 'Overpass', sans-serif;
  color: white;
  line-height: 2rem;
}

/*INFO GRID SECTION*/

.info-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(1, auto);
  margin-top: 8rem;
}

.laptop{
  grid-column-start: 1;
  grid-row-start: 1;
}

.laptop-image-desktop{
  width: 100%;
  display: grid;
}
.laptop-image-mobile{
  display: none;
}

.info-details{
  grid-column-start: 2;
  grid-row-start: 1;
  font-family: 'Overpass', sans-serif;
}

.simple-title {
  margin-bottom: 2rem;
  color: var(--very-dark-blue);
}

.simple-details {
  margin-bottom: 3rem;
  padding-right: 2rem;
  color: var(--grayish-blue);
  line-height: 2rem;

}

/*FOOTER*/

.footer-container{
  background-color: var(--vd-gray-blue);
  width: 100%;
  margin-top: 4rem;
  height: 50vh;
  border-top-right-radius: 6rem;
}

.footer-title-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: 2rem;
  height: 25%;
  font-size: 2rem;
}

.footer-title{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  color: white;
}

.product-company-connect-container{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.footer-titles{
  font-family: 'Ubuntu', sans-serif;
  color: var(--grayish-blue);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-lists{
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer-list-items{
  font-family: 'Ubuntu', sans-serif;
  color: var(--grayish-blue);
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

.footer-list-items a{
  text-decoration: none;
    color: var(--grayish-blue);

}

.footer-list-items a:hover{
  text-decoration: underline from-font white;
  cursor: pointer;
  
}

/*hamburger menu code*/
#ham-icon{
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#ham-icon div{
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.ham-container{
  background-color: transparent;
  display: none;
}
/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open .bar1{
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
/*will 'disappear' the user clicks on the icon*/
.open .bar2{
  opacity: 0;
}

.open .bar3{
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
/*once user opens the icon the links will display in a stacked view*/
.open .mobile-menu{
  display: flex;
  flex-direction: column;/*stacks each link on top of each other on mobile*/
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu{
  display: none;
  position: absolute;
  top: 50px;/*fixed height of header*/
  left: 0;
  height: calc(70vh - 50px);/*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
  width: 100%;
  margin-top: 10px;
  font-size: 1.5rem;
  /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
  background-color: white;
  opacity: 0.8;
}
.mobile-menu a{
  color: black;
}


/*Mobile Version*/

@media screen and (max-width: 500px){
  #ham-icon{
    display: block;
    margin-right: 2rem;
  }
  
  .ham-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .btn-1, .btn-2 {
    margin-top: 2rem;
}
  
  .blogr {
    margin-left: 2rem;
}
  
  .title-container{
    margin-top: 6rem;
    padding: 1rem;
}
  
  .title{
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
}
  
  .title-text{
    font-size: 1.5rem;
    margin: 1.5rem;
  }
  
  
  .bg-container{
    height: 80vh;
  }
  
  .nav-bar{
    display: none;
  }
  
  /*design grid*/
  
  .design-grid{
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    padding: 2rem 0;
  }
  
  .introduce{
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
  } 
  
  .intro-details {
    padding: 1rem 3rem;
  }
  
  .intro-heading {
    font-size: 2rem;
    padding: 1rem 4rem;
}
  
  .editor{
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .editor-mobile-img{
    display: block;
    width: 100%;
}
  
  .editor-desktop-img{
    display: none;
  }
  
  .absolute {
    top: 2090px;
}
  .phones {
    height: 80vh;
    text-align: center;
    background-size: 750px;
    background-position: 50% -300px;
    margin-top: 10rem;
}
  .descript-container {
    justify-content: center;
    align-items: center;
}
  .state-title {
    font-size: 2rem;
}
  
  .state-details{
    font-size: 1.2rem;
  }
  #description{
    margin-top: 10rem;
    padding: 1rem;
  }
      
  /*info grid*/
  
  .info-grid{
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);
}
  .laptop{
  grid-column-start: 1;
  grid-row-start: 1;
}
  .info-details{
  grid-column-start: 1;
  grid-row-start: 2;
  text-align: center;
    font-size: 1.2rem;
}
  
  .laptop-image-desktop{
  display: none;
}
.laptop-image-mobile{
  display: block;
  width: 100%;
}
  
  .simple-title{
    font-size: 2rem;
  }
  
  .simple-details{
    font-size: 1.2rem;
    padding: 0;
    margin: 2rem;
  }
  
  
  /*footer mobile*/
  
  .footer-title-container {
    justify-content: center;
    align-items: flex-start;
    height: 100px;
}
  .footer-container{
    height: 100%;
  }
  
  .product-company-connect-container{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .footer-titles{
    justify-content: center;
  }
  .footer-lists{
    margin-bottom: 3rem;
  }
  
  .footer-list-items{
    justify-content: center;
  }
  
}
  

@media only screen and (max-width: 390px){
  .absolute {
    top: 1945px;
    left: -10px;
  }
  
  .phones {
    height: 100vh;
}
  
  .state-title{
    font-size: 1.65rem;
  }
  
  .simple-details {
    margin: 2rem;
}
  
  .title-container{
    margin-top: 1.5rem;
  }
  
  .btn-1, .btn-2{
    margin-top: 0;
  }
  
}
  
  
  
  
  



  
  
  
